.vscode
config.ini
*.pyc
.DS_Store
__pycache__
instance/*
output*.json
*.gz
.envrc
out/
/storage/
scan.json
web/settings.toml
cache/
tea/
data/
t.py
.venv
gallery.json
public/
templates/
images_data.json
.idea/
processed
processed_thumbs
results-*/
