<div class="full-view" *ngIf="image">
  <div class="image" [ngStyle]="style()" [attr.loaded]="loaded || null">
    <img [src]="image.src">
    <button class="menu_action" mat-mini-fab aria-label="Close full view" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <button class="previous navigation" mat-mini-fab aria-label="Close full view" (click)="onPrevious()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button class="next navigation" mat-mini-fab aria-label="Close full view" (click)="onNext()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>



