<div class="full-view" *ngIf="id" [attr.loaded]="loaded || null">
  <img [src]="image.src" *ngIf="image" [attr.aspect]="image.aspect">
  <div class="actions">
    <div class="buttons">
      <button class="menu_action" mat-icon-button aria-label="Close full view" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
  <div class="navigation">
    <div class="back" (click)="onPrevious()">
      <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div class="next" (click)="onNext()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </div>
  <div class="faces" *ngIf="faces">
    <app-face *ngFor="let face of faces" [face]="face"></app-face>
  </div>
</div>



