<app-loader *ngIf="loading"></app-loader>

<div class="filters" [attr.filtered]="query.length > 2 || null">

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Video keywords</mat-label>
    <mat-chip-list #chipList aria-label="Video keywords" multiple>
      <mat-chip
        *ngFor="let keyword of keywords"
        [value]="keyword"
        (removed)="removeKeyword(keyword)">
        {{keyword}}
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</div>


<div class="actions" [attr.expanded]="selected">
  <button class="search" mat-mini-fab aria-label="Close full view" (click)="showSearch(1)">
    <mat-icon>search</mat-icon>
  </button>
</div>


<div class="container" infiniteScroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()"
     [horizontal]="isHorizontal"
     [attr.expanded]="selected">
  <app-card *ngFor="let image of imageService.images" [image]="image" class="card" [ngClass]="image.style"
            [attr.id]="image.id" [attr.expanded]="selected"></app-card>
</div>


<router-outlet></router-outlet>

<ng-template #searchForm>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Search...</mat-label>
      <input
        matInput
        #search
        type="text"
        formControlName="query"
        name="query"
        id="query"
      />
    </mat-form-field>
  </form>
</ng-template>
