<app-loader *ngIf="loading"></app-loader>

<router-outlet></router-outlet>


<div class="root" [attr.loading]="loading || null" [attr.expanded]="selected || null" *ngIf="isLoggedIn">
  <div class="container" infiniteScroll
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollUpDistance]="scrollUpDistance"
       [infiniteScrollThrottle]="throttle"
       (scrolled)="onScrollDown()"
       [horizontal]="isHorizontal"
       [attr.expanded]="selected"
  >
    <app-card *ngFor="let image of imageService.images" [image]="image" class="card" [ngClass]="image.style"
              [attr.id]="image.id" [attr.expanded]="selected"></app-card>
  </div>

  <div class="filters" [attr.filtered]="query.length > 2 || null">
    <mat-chip-list #chipList multiple>
      <mat-chip
        *ngFor="let keyword of keywords"
        [value]="keyword"
        (removed)="removeKeyword(keyword)"
        color="primary">
        {{keyword}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>


  <div class="actions" [attr.expanded]="selected">
    <button class="search" mat-mini-fab aria-label="Close full view" (click)="showSearch(1)">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="faces" *ngIf="!selected">
    <app-faces *ngIf="!loading" [attr.selected]="imageService.face || null"></app-faces>
  </div>


  <ng-template #searchForm>
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Search...</mat-label>
        <input
          matInput
          #search
          type="text"
          formControlName="query"
          name="query"
          id="query"
        />
      </mat-form-field>
    </form>
  </ng-template>

</div>
