.content {
  height: 100vh;
  overflow: auto;
}

.container {
  display: grid;
  gap: 0rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  padding: 0;
  .card {

  }

  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }

    .card-wide {
      grid-column: span 2 / auto;
    }
  }

}

